.cars-item {
    margin: auto;
    width: 505px;
    height: 257px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 23px;
    @include webkitB(box-sizing, border-box);
    @include webkitB(box-shadow, 0 0 18px rgba(0, 0, 0, .2));
    header {
        display: flex;
        align-items: center;
        h4 img {
            height: 34px;
            margin-right: 10px;
        }
        .name {
            flex-grow: 1;
            font-size: 16px;
            color: $main-color;
        }
        .details {
            opacity: .5;
        }
    }
    .cars-content {
        border-bottom: 1px solid #e1e1e1;
        position: relative;
        padding: 10px 0 7px;
        @extend %clearfix;
        img {
            float: right;
            height: 120px;
        }
        .car-info {
            position: absolute;
            width: 100%;
            height: 100%;
            color: $main-color;
            display: flex;
            align-items: center;
            .cars-number {
                font-size: 18px;
                margin-bottom: 8px;
            }
            ul {
                display: inline-block;
                margin-right: 10px;
                @for $i from 1 through 10 {
                    &.acitve-li-#{$i} {
                        li:nth-child(-n+#{$i}) {
                            @include webkitA(background, linear-gradient(#11a5f9, #0e98e8));
                        }
                    }
                }
            }
            ul>li {
                display: inline-block;
                width: 8px;
                height: 24px;
                background-color: #e1e1e1;
                border-radius: 100px;
                margin-right: 3px;
            }
            span {
                color: $main-color;
            }
            span::first-letter {
                color: red;
                opacity: .8;
            }
            span.kilo {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
    footer {
        position: relative;
        padding: 20px 0;
        .paking {
            color: $main-color;
            opacity: .8;
        }
        &::after {
            content: "";
            position: absolute;
            top: 18px;
            right: 4px;
            width: 7px;
            height: 7px;
            border-right: 1px solid #d8d9da;
            border-top: 1px solid #d8d9da;
            @include webkitB(transform, rotate(45deg))
        }
    }
}