$main-color: #34393f;
$second-color: #adaeb0;
.icon-help {
    background-image: url("~@/assets/icons/icon-help.png");
}

.icon-search {
    background-image: url("~@/assets/icons/icon-search.png");
}

.icon-local {
    background-image: url("~@/assets/icons/icon-local.png");
}

.icon-my {
    background-image: url("~@/assets/icons/icon-my.png");
}

.icon-money-link {
    background-image: url("~@/assets/icons/icon-money.png");
}

.icon-order-link {
    background-image: url("~@/assets/icons/icon-order.png");
}

.icon-authentication-link {
    background-image: url("~@/assets/icons/icon-authentication.png");
}

.icon-security-link {
    background-image: url("~@/assets/icons/icon-security.png");
}

.icon-helpcenter-link {
    background-image: url("~@/assets/icons/icon-helpcenter.png");
}

i[class^="icon"] {
    display: inline-block;
    background-color: $main-color;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 100px;
}


/* clearfix 清除浮动，使用继承的方式调用*/

%clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}


/* clearfix */

@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

@mixin webkitB($type,
$value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}

@mixin webkitA($type,
$value) {
    #{$type}: -webkit-#{$value};
    #{$type}: -moz-#{$value};
    #{$type}: -o-#{$value};
    #{$type}: -ms-#{$value};
    #{$type}: $value;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}