@import "./normalize.scss";
@import "./config.scss";
.el-menu--vertical {
    background-color: #f56c6c !important;
    .el-menu-item:hover {
        border-radius: 6px;
        background-color: rgba(255, 255, 255, .3) !important;
    }
}

.align-right {
    text-align: right;
}