.cars-wrapper {
    position: fixed;
    left: 0;
    bottom: 94px;
    z-index: 11;
}

.cars-item {
    width: 505px;
    height: 257px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 23px;
    @include webkit(box-sizing, border-box);
    @include webkit(box-shadow, 0 0 18px rgba(0, 0, 0, .2));
    header {
        display: flex;
        align-items: center;
        h4 img {
            height: 34px;
            margin-right: 10px;
        }
        .name {
            flex-grow: 1;
            font-size: 16px;
            color: $main-color;
        }
        .details {
            opacity: .5;
        }
    }
    .cars-content {
        border-bottom: 1px solid red;
        position: relative;
        padding: 10px 0 7px;
        @extend %clearfix;
        img {
            float: right;
            height: 120px;
        }
        .car-info {
            position: absolute;
            width: 100%;
            height: 100%;
            color: $main-color;
            display: flex;
            align-items: center;
            .cars-number {
                font-size: 18px;
                margin-bottom: 8px;
            }
            ul {
                display: inline-block;
                margin-right: 10px;
            }
            ul>li {
                display: inline-block;
                width: 8px;
                height: 24px;
                background-color: #e1e1e1;
                border-radius: 100px;
                margin-right: 3px;
            }
            li.active {
                background: -moz-linear-gradient(#11a5f9, #0e98e8);
                background: -webkit-linear-gradient(#11a5f9, #0e98e8);
                background: -o-linear-gradient(#11a5f9, #0e98e8);
                background: -ms-linear-gradient(#11a5f9, #0e98e8);
                background: linear-gradient(#11a5f9, #0e98e8);
            }
            span.kilo {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}